.gpt__header {
  display: flex;
}

.gpt__header-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 5rem;
}
.gpt3__header-content h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-style: 62px;
  line-height: 75px;
  letter-spacing: -0.04rem;
}

.gpt3__header-content p {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: var(--color-text);
  margin-top: 1.5rem;
}

.gpt3__header-content__input {
  width: 100%;
  margin: 2rem 0 1rem;
  display: flex;
}

.gpt3__header-content__input input {
  flex: 2;
  width: 100%;
  min-height: 50px;
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 27px;
  background: var(--colot-footer);
  border: 2px solid var(--color-footer);
  padding: 0 1rem;
  outline: none;
  color: #fff;
  border-radius: 5px 0 0 5px;
}

.gpt3__header-content__input button {
  background: #ff4820;
  padding: 0 1rem;
  border: none;
  color: #fff;
}
